{% extends 'base.html' %}
{% load static %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
    <!-- Enlace a CSS personalizado para el inicio -->
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

    <!-- Barra de navegación -->
    <nav>
        <!-- Menú desplegable para Caja -->
        <div class="dropdown">
            <button class="dropbtn">Caja</button>
            <div class="dropdown-content">
                <a href="{% url 'cajas_list' %}">Ver Cajas</a>
            </div>
        </div>

        <!-- Enlaces para el resto de las secciones -->
        <a href="{% url 'empleados_list' %}">Empleados</a>
        <a href="{% url 'productos_list' %}">Productos</a>
        <a href="{% url 'compras_list' %}">Compras</a>
        <a href="{% url 'proveedores_list' %}">Proveedores</a>
        <a href="{% url 'ventas_list' %}">Ventas</a>
        <a href="{% url 'register' %}">Registrar Usuario</a>
    </nav>
    
    <!-- Logo Stay Puft -->
    <img src="{% static 'img/Logo Stay uff.png' %}" class="logo" alt="Logo Stay Puft">
{% endblock %}



